* {
    box-sizing: border-box;
}
body {
  font-family: 'Old Standard TT', serif;
  background-color: #001D28;
  color: #73CCEF;
  padding: 0;
  margin:0;
}
header{
  font-family: 'Merienda One', cursive;
  background-color: #73CCEF;
  color: #E7F6FC;
  position: absolute;
  width: 100%;
}

h1,h2,h3,h4,p{
  text-align: center;
}

h2{
  color: #E7F6FC;
}

a{
  color: #E7F6FC;
  text-decoration: none;
}

.main-nav{
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.top-nav{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60px;
  font-size: 22px;
  line-height: 250%;
}

.main-nav li a:hover:not(.active){
  background-color: #111;
}

.main-nav li a.active{
  background-color: #4CAF50;
}

ul{
  list-style: none;
}

.info{
  display: flex;
  flex-direction: column;
}

.info .headshot{
  padding-top: 200px;
  width: 25%;
  height: 25%;
  margin: auto;
}

.about{
  font-family: 'Merienda One', cursive;
}

.fa{
   color: #E7F6FC;
 }

 .contact-link-parent {
  display: flex;
  justify-content: space-around;
  padding: 0px;
 }

.contact-links{
  position: absolute;
  width: 100%;
  background-color: #73CCEF;
}

.project{
  display: flex;
  flex-direction: column;
}

 p{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.project img {
  margin: auto;
}

.project-links{
  display: flex;
}

.project-link{
  justify-content: space-around;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.project-stack{
  text-align: center;
  padding: 0px;
  font-size: 20px;
}

@media (max-width: 576px){

  .top-nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 90px;
    font-size: 20px;
    line-height: 150%;
  }

  .main-nav{
    flex-direction: column;
    align-items: center;
  }

  .contact-link-parent {
   display: flex;
   justify-content: space-around;
   padding: 0px;
  }

  .contact-links{
    width: 100%;
}

.info .headshot{
  width: 50%;
  padding-top: 250px;
}

  .project{
    display: flex;
    flex-direction: column;
  }

  .pokemon{
    width: 75%;
  }

  .project-links{
    display: flex;
  }

  .project-link{
    justify-content: space-around;
    width: 100%;
    text-align: center;
  }

  .project-stack{
    text-align: center;
    padding: 0px;
  }


}
