* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', Sans-Serif;
  background-color: rgba(191, 231, 247, 0.4);
  color: #001D28;
  padding: 0px;
  margin: 0px;
}

.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 90px;
  height: 70px;
  z-index: 100;
  display: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

.back-to-top i {
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  transition: all 0.3s ease;
}

.back-to-top:hover i {
  top: 5px;
}

header {
  font-family: 'Libre Baskerville', Serif;
  background-color: #73CCEF;
  background-image: url("Images/header2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h2 {
  margin-top: 8%;
  background-color: rgba(7, 23, 49, 0.6);
  color: white;
}

header h1 {
  margin-top: 15%;
  font-size: 60px;
  background-color: rgba(7, 23, 49, 0.6);
  color: white;
}

h2, h3 {
  font-family: 'Libre Baskerville', Serif;
}

h3 {
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

a {
  color: #E7F6FC;
  text-decoration: none;
  text-align: center;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: -8px;
  background-color: black;
  position: fixed;
  width: 100%;
}

.left {
  justify-content: flex-start;
}

.main-nav li {
  padding-right: 20px;
}

.top-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 250%;
  position: relative;
}

.main-nav li a:hover {
  color: rgba(191, 231, 247, 0.4);
}

ul {
  list-style: none;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.info {
  background-color: #001D28;
  padding: 10px;
  min-height: 600px;
}

.content {
  display: flex;
}

.picture {
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
}

.about {
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding: 0 5% 0 5%;
}

.info .headshot {
  width: 300px;
  margin-right: 15px;
}

.info p {
  padding-left: 5%;
  color: white;
}

.work {
  padding: 10px;
}

.section-name {
  text-align: center;
  font-size: 60px;
}

.a {
  color: white;
}

.project {
  display: flex;
  min-height: 100vh;
  flex-flow: row wrap;
  border: 22px solid;
  background-color: #BFE7F7;
  border-radius: 35px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.project-name {
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
}

.project-details {
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 5% 5% 0 5%;
}

.project-description {
  text-align: left;
}

p {
  padding-right: 5%;
  font-size: 20px;
}

.project-image {
  width: 300px;
}

.project-tech-links {
  width: 100%;
}

.project-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 5% 0;
}

.icon_info {
  display: none;
  color: white;
  text-align: center;
  font: 12px;
}

.project-stack-item {
  margin: 2%;
}


/*.project-stack-item:hover .icon_info {
  display: block;
}*/

.dev {
  font-size: 4em;
}

.dev-img {
  height: 4em;
  width: 4em;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.project-links li:hover {
  background-color: #738389;
}

.project-link {
  font-size: 18px;
  display: flex;
  background: #001D28;
  border-radius: 55%;
  padding: 30px;
}

.project-link a {
  text-align: center;
}

.contact-link-parent {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.contact-links {
  position: absolute;
  width: 100%;
  background-color: #73CCEF;
  font-family: 'Libre Baskerville', Serif;
}

.contact-links h2 {
  padding-bottom: 5%;
  color: #E7F6FC;
}

.contact-links ul i:hover {
  color: white;
}

.fa {
  color: #000B0F;
}

.arrow {
  color: white;
  padding-top: 75%;
}

.contact-links p {
  color: #E7F6FC;
  text-align: center;
  padding-top: 5%;
  padding-right: 0px;
}

@media (max-width: 720px) {
  .back-to-top {
    display: none;
  }
  h2 {
    font-size: 25px;
  }
  header h1, h2 {
    text-align: center;
  }
  header h1 {
    margin-top: 30%;
    /*background-color: #73CCEF;*/
  }
  header h2 {
    /*padding-top: 25%;*/
    margin-top: 15%;
    /*background-color: #73CCEF;*/
  }
  .arrow {
    visibility: hidden;
  }
  .section-name {
    font-size: 40px;
  }
  .content {
    display: block;
  }
  .picture {
    width: 100%;
    display: block;
    padding-left: none;
  }
  .info .headshot {
    display: block;
    margin: auto;
    width: 200px;
  }
  .about {
    width: 100%;
    padding: 0;
  }
  p {
    padding-left: 5%;
    font-size: 16px;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
  }
  .project-name {
    flex: 1;
    display: flex;
    align-self: center;
  }
  .project-image {
    width: 55%;
    display: block;
    margin: auto;
  }
  .project-details {
    flex: 0 0 100%;
  }
  .project-link {
    justify-content: space-around;
    text-align: center;
    padding: 15px;
  }
  .project-links {
    padding: 0px;
    margin: 2%;
  }
  .project-stack {
    text-align: center;
    padding: 0px;
    flex-wrap: wrap;
  }
  .project-stack-item {
    flex: 1;
  }
  .dev {
    font-size: 3em;
  }
  .dev-img {
    height: 3em;
    width: 3em;
  }
  .contact-link-parent {
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }
  .contact-links {
    width: 100%;
  }
  .contact-links p {
    padding-left: 0px;
  }
}
