* {
  box-sizing: border-box;
}

body {
  font-family: 'Old Standard TT', serif;
  background-color: #000B0F;
  color: #73CCEF;
  padding: 0px;
  margin: 0px;
}

header {
  font-family: 'Ovo', serif;
  background-color: #73CCEF;
  color: #E7F6FC;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h2 {
  font-family: 'Ovo', serif;
  height: 50%;
  margin-top: 8%;
  font-size: 35px;
}

header h1 {
  margin-top: 10%;
  font-size: 60px
}

h2, h3 {
  font-family: 'Merienda One', cursive;
}

h3 {
  text-align: center;
}

h2 {
  color: #E7F6FC;
  font-size: 35px;
}

a {
  color: #E7F6FC;
  text-decoration: none;
}

.main-nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.top-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  /*height: 20%;*/
  font-size: 22px;
  line-height: 250%;
  position: relative;
}

.main-nav li a:hover {
  background-color: #001016;
}

ul {
  list-style: none;
}

.info {
  display: flex;
}

.about-label {
  justify-content: center;
  width: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  min-height: 800px;
}

.about-label h2 {
  color: #73CCEF;
}

.about-info {
  background-color: #001D28;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.about-info .headshot {
  padding-left: 5%;
  margin-top: 5%;
  width: 65%;
}

.about-info .about {
  font-family: 'Merienda One', cursive;
}

.about-info p {
  padding-left: 5%;
}

.fa {
  color: #E7F6FC;
}

.section-name {
  text-align: center;
}

.project {
  display: flex;
  min-height: 100vh;
  flex-flow: row wrap;
  border: 22px solid;
  background-color: rgba(115, 204, 239, 0.2);
  border-radius: 35px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.section-name {
  font-size: 60px;
}

.project-name {
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
}

.project-details {
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 5%;
}

.project-description {
  text-align: left;
}

p {
  padding-right: 5%;
  font-size: 20px;
}

.project img {
  width: 75%;
}

.project-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 0px;
}

.icon_info {
  display: none;
  color: white;
  padding-top: 5px;
  text-align: center;
  font: 12px;
}

.project-stack-item {
  flex: 1;
}

.project-stack-item:hover .icon_info {
  display: block;
}

.dev {
  font-size: 4em;
}

.project-links {
  display: flex;
  padding: 0;
}

.project-links li a:hover {
  background-color: #73CCEF;
  padding: 2%;
}

.project-link {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}

.contact-link-parent {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  background-color: #73CCEF;
}

.contact-links {
  position: absolute;
  width: 100%;
  background-color: #73CCEF;
  padding: 5%;
}

.contact-links h2 {
  text-align: center;
  padding-bottom: 5%;
}

.contact-links ul i:hover {
  background-color: #001016;
  padding: 10%;
}

@media (max-width: 720px) {
  header h1, h2 {
    text-align: center;
  }
  header h1 {
    padding-top: 10%;
  }
  header h2 {
    padding-top: 25%;
    margin-top: 0;
  }
  .top-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 90px;
    font-size: 20px;
    line-height: 150%;
  }
  .main-nav {
    flex-direction: column;
    align-items: center;
  }
  .contact-link-parent {
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }
  .contact-links {
    width: 100%;
  }
  .about-info .headshot {
    width: 35%;
    display: block;
    margin: auto;
    padding-top: 5%;
  }
  .info {
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .about-label {
    display: none;
  }
  .about-info {
    flex: 0 0 100%;
  }
  p {
    padding-left: 5%;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
  }
  .project-name {
    flex: 1;
    display: flex;
    align-self: center;
  }
  .project img {
    width: 75%;
  }
  .project-details {
    flex: 0 0 100%;
  }
  .project-links {
    display: flex;
  }
  .project-link {
    justify-content: space-around;
    width: 100%;
    text-align: center;
  }
  .project-stack {
    text-align: center;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .project-stack-item {
    flex: 1;
    +
  }
}
