* {
  box-sizing: border-box;
}

body {
  font-family: 'Old Standard TT', serif;
  background-color: #001D28;
  color: #73CCEF;
  padding: 0px;
  margin: 0px;
}


/*.grey {
  background-color: #738389;
}*/

header {
  font-family: 'Merienda One', cursive;
  background-color: #73CCEF;
  color: #E7F6FC;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h2 {
  height: 50%;
  margin-top: 8%;
  font-size: 35px;
}

header h1 {
  margin-top: 10%;
  font-size: 60px
}

h3, h4 {
  text-align: center;
}

h2 {
  color: #E7F6FC;
}

a {
  color: #E7F6FC;
  text-decoration: none;
}

.main-nav {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  /*height: 20%;*/
}

.top-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 20%;
  font-size: 22px;
  line-height: 250%;
  position: relative;
}

.main-nav li a:hover:not(.active) {
  background-color: #111;
}

.main-nav li a.active {
  background-color: #4CAF50;
}

ul {
  list-style: none;
}

.info {
  display: flex;
  margin-bottom: 5%;
  border-bottom: 5px solid white;
}

.about-label {
  justify-content: center;
  width: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 800px;
}

.about-label h2 {
  color: #73CCEF;
}

.about-info {
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}

.about-info .headshot {
  margin-left: 60px;
  margin-top: 5%;
}

.about-info .about {
  font-family: 'Merienda One', cursive;
}

.fa {
  color: #E7F6FC;
}

.section-name {
  text-align: center;
}

.project {
  display: flex;
  height: 100vh;
  flex-flow: row wrap;
  border: 22px solid;
  background-color: #738389;
  border-radius: 35px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.project-name {
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details {
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.project-description {
  text-align: center;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.project img {
  width: 450px;
}

.project-links {
  display: flex;
}

.project-link {
  justify-content: space-around;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.project-stack {
  text-align: center;
  padding: 0px;
  font-size: 20px;
}

.next {
  margin: auto;
  display: none;
}

.contact-link-parent {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  background-color: #73CCEF;
}

.contact-links {
  position: absolute;
  width: 100%;
  background-color: #73CCEF;
}

.contact-links h2 {
  text-align: center;
}

@media (max-width: 576px) {
  .top-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 90px;
    font-size: 20px;
    line-height: 150%;
  }
  .main-nav {
    flex-direction: column;
    align-items: center;
  }
  .contact-link-parent {
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }
  .contact-links {
    width: 100%;
  }
  .about-info .headshot {
    width: 150px;
    margin: 30px 0 10px 0;
  }
  .about-label {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project {
    display: flex;
    flex-direction: column;
  }
  .pokemon {
    width: 75%;
  }
  .project-links {
    display: flex;
  }
  .project-link {
    justify-content: space-around;
    width: 100%;
    text-align: center;
  }
  .project-stack {
    text-align: center;
    padding: 0px;
  }
}
