* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', Sans-Serif;
  background-color: rgba(191, 231, 247, 0.4);
  color: #001D28;
  padding: 0px;
  margin: 0px;
}

header {
  font-family: 'Libre Baskerville', Serif;
  background-color: #73CCEF;
  background-image: url("Images/header2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h2 {
  margin-top: 8%;
  background-color: black;
  color: white;
}

header h1 {
  margin-top: 10%;
  font-size: 60px;
  background-color: black;
  color: white;
}

h2, h3 {
  font-family: 'Libre Baskerville', Serif;
}

h3 {
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

a {
  color: #E7F6FC;
  text-decoration: none;
  text-align: center;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  margin-top: -8px;
  background-color: black;
  position: fixed;
  width: 100%;
}

.main-nav li {
  padding-right: 20px;
}

.top-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 250%;
  position: relative;
}

.main-nav li a:hover {
  color: rgba(191, 231, 247, 0.4);
}

ul {
  list-style: none;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.info {
  background-color: #001D28;
  padding: 10px;
}

.info .headshot {
  display: block;
  margin: 0 auto;
  width: 300px;
  ;
}

.info p {
  padding-left: 5%;
  color: white;
}

.section-name {
  text-align: center;
}

.project {
  display: flex;
  min-height: 100vh;
  flex-flow: row wrap;
  border: 22px solid;
  background-color: #BFE7F7;
  border-radius: 35px;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.section-name {
  font-size: 60px;
}

.a {
  color: white;
}

.project-name {
  justify-content: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
}

.project-details {
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 5% 5% 0 5%;
}

.project-description {
  text-align: left;
}

p {
  padding-right: 5%;
  font-size: 20px;
}

.project img {
  width: 300px;
}

.project-tech-links {
  width: 100%;
}

.project-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 5% 0;
}

.icon_info {
  display: none;
  color: white;
  text-align: center;
  font: 12px;
}

.project-stack-item {
  margin: 2%;
}


/*.project-stack-item:hover .icon_info {
  display: block;
}*/

.dev {
  font-size: 4em;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.project-links li:hover {
  background-color: #738389;
}

.project-link {
  font-size: 18px;
  display: flex;
  background: #001D28;
  border-radius: 55%;
  padding: 30px;
}

.project-link a {
  text-align: center;
}

.contact-link-parent {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.contact-links {
  position: absolute;
  width: 100%;
  background-color: #73CCEF;
  font-family: 'Libre Baskerville', Serif;
}

.contact-links h2 {
  padding-bottom: 5%;
}

.contact-links ul i:hover {
  color: white;
}

.fa {
  color: #000B0F;
}

.arrow {
  color: white;
  padding-top: 250%;
}

.contact-links p {
  color: #E7F6FC;
  text-align: center;
  padding-top: 5%;
  padding-right: 0px;
}

@media (max-width: 720px) {
  header {
    background-image: none;
  }
  header h1, h2 {
    text-align: center;
  }
  header h1 {
    padding-top: 10%;
    background-color: #73CCEF;
  }
  header h2 {
    padding-top: 25%;
    margin-top: 0;
    background-color: #73CCEF;
  }
  .top-nav {
    /*display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 90px;
    font-size: 20px;
    line-height: 150%;*/
    display: none;
  }
  /*.main-nav {
    flex-direction: column;
    align-items: center;
    position: absolute;
  }*/
  .arrow {
    visibility: hidden;
  }
  p {
    padding-left: 5%;
  }
  .project {
    display: flex;
    flex-wrap: wrap;
  }
  .project-name {
    flex: 1;
    display: flex;
    align-self: center;
  }
  .project img {
    width: 75%;
    display: block;
    margin: auto;
  }
  .project-details {
    flex: 0 0 100%;
  }
  .project-link {
    justify-content: space-around;
    text-align: center;
    padding: 15px;
  }
  .project-links {
    padding: 0px;
    margin: 2%;
  }
  .project-stack {
    text-align: center;
    padding: 0px;
    flex-wrap: wrap;
  }
  .project-stack-item {
    flex: 1;
  }
  .contact-link-parent {
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }
  .contact-links {
    width: 100%;
  }
  .contact-links p {
    padding-left: 0px;
  }
}
